div {
	background: pink;
	border: 1px white solid;
	margin: 10px;
	width: 40%;
}

.taustapalikka {
	background: #47865b;
	height: 1500px;
	width: 90%;
	position: relative;
}

.relatiivinen {
	position: relative;
	left: -50px;
	top: 50px;
}


.fiksattu {
	position: fixed;
	right: 0;
	bottom: 0;
}

/* Absolute positioning */
.absolute {
	position: absolute;
	left: 0;
	top: 0;
}